{
  "backprop" : true,
  "backpropType" : "Standard",
  "confs" : [ {
    "layer" : {
      "gravesBidirectionalLSTM" : {
        "activationFunction" : "tanh",
        "adamMeanDecay" : 0.9,
        "adamVarDecay" : 0.999,
        "biasInit" : 0.0,
        "dist" : {
          "uniform" : {
            "lower" : -0.01,
            "upper" : 0.01
          }
        },
        "dropOut" : 0.5,
        "forgetGateBiasInit" : 1.0,
        "gradientNormalization" : "None",
        "gradientNormalizationThreshold" : 1.0,
        "l1" : 0.0,
        "l2" : 0.001,
        "layerName" : "genisys",
        "learningRate" : 0.15,
        "learningRateAfter" : { },
        "lrScoreBasedDecay" : 0.0,
        "momentum" : 0.5,
        "momentumAfter" : { },
        "nin" : 7,
        "nout" : 7,
        "rho" : 0.0,
        "rmsDecay" : 0.95,
        "updater" : "RMSPROP",
        "weightInit" : "DISTRIBUTION"
      }
    },
    "maxNumLineSearchIterations" : 5,
    "miniBatch" : true,
    "minimize" : true,
    "numIterations" : 3,
    "optimizationAlgo" : "STOCHASTIC_GRADIENT_DESCENT",
    "seed" : 1,
    "stepFunction" : null,
    "timeSeriesLength" : 1,
    "useDropConnect" : false,
    "useRegularization" : true,
    "useSchedules" : false,
    "variables" : [ "WF", "RWF", "bF", "WB", "RWB", "bB" ]
  }, {
    "layer" : {
      "gravesBidirectionalLSTM" : {
        "activationFunction" : "tanh",
        "adamMeanDecay" : 0.9,
        "adamVarDecay" : 0.999,
        "biasInit" : 0.0,
        "dist" : {
          "uniform" : {
            "lower" : -0.01,
            "upper" : 0.01
          }
        },
        "dropOut" : 0.5,
        "forgetGateBiasInit" : 1.0,
        "gradientNormalization" : "None",
        "gradientNormalizationThreshold" : 1.0,
        "l1" : 0.0,
        "l2" : 0.001,
        "layerName" : "genisys",
        "learningRate" : 0.15,
        "learningRateAfter" : { },
        "lrScoreBasedDecay" : 0.0,
        "momentum" : 0.5,
        "momentumAfter" : { },
        "nin" : 7,
        "nout" : 7,
        "rho" : 0.0,
        "rmsDecay" : 0.95,
        "updater" : "RMSPROP",
        "weightInit" : "DISTRIBUTION"
      }
    },
    "maxNumLineSearchIterations" : 5,
    "miniBatch" : true,
    "minimize" : true,
    "numIterations" : 3,
    "optimizationAlgo" : "STOCHASTIC_GRADIENT_DESCENT",
    "seed" : 1,
    "stepFunction" : null,
    "timeSeriesLength" : 1,
    "useDropConnect" : false,
    "useRegularization" : true,
    "useSchedules" : false,
    "variables" : [ "WF", "RWF", "bF", "WB", "RWB", "bB" ]
  }, {
    "layer" : {
      "rnnoutput" : {
        "activationFunction" : "softmax",
        "adamMeanDecay" : 0.9,
        "adamVarDecay" : 0.999,
        "biasInit" : 0.0,
        "customLossFunction" : null,
        "dist" : {
          "uniform" : {
            "lower" : -0.01,
            "upper" : 0.01
          }
        },
        "dropOut" : 0.0,
        "gradientNormalization" : "None",
        "gradientNormalizationThreshold" : 1.0,
        "l1" : 0.0,
        "l2" : 0.001,
        "layerName" : "genisys",
        "learningRate" : 0.15,
        "learningRateAfter" : { },
        "lossFunction" : "MCXENT",
        "lrScoreBasedDecay" : 0.0,
        "momentum" : 0.5,
        "momentumAfter" : { },
        "nin" : 7,
        "nout" : 2,
        "rho" : 0.0,
        "rmsDecay" : 0.95,
        "updater" : "RMSPROP",
        "weightInit" : "DISTRIBUTION"
      }
    },
    "maxNumLineSearchIterations" : 5,
    "miniBatch" : true,
    "minimize" : true,
    "numIterations" : 3,
    "optimizationAlgo" : "STOCHASTIC_GRADIENT_DESCENT",
    "seed" : 1,
    "stepFunction" : null,
    "timeSeriesLength" : 1,
    "useDropConnect" : false,
    "useRegularization" : true,
    "useSchedules" : false,
    "variables" : [ "W", "b" ]
  } ],
  "dampingFactor" : 100.0,
  "inputPreProcessors" : { },
  "pretrain" : false,
  "redistributeParams" : false,
  "tbpttBackLength" : 20,
  "tbpttFwdLength" : 20
}