metrics_enabled: false
debug: true
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - org.skife
    - xx-responses
    - com.hello

sensors_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your postgresql username

  # the password
  password: your postgresql password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/[your postgresql username]

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8


http:

  # The port on which the HTTP server listens for service requests.
  # Because Java cannot drop privileges in a POSIX system, these
  # ports cannot be in the range 1-1024. A port value of 0 will
  # make the OS use an arbitrary unused port.
  port: 9997

  # The port on which the HTTP server listens for administrative
  # requests. Subject to the same limitations as "port".
  adminPort: 9996

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.hello.suripu: DEBUG

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data

features_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: features

kinesis_logger:
  stream_name: logs
  enabled : false
  buffer_size: 100
  origin: suripu-research