debug: true

sensors_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your postgresql username

  # the password
  password: your postgresql password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/[your postgresql username]

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

research_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your local-db user name

  # the password
  password: your local-db password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/research

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

http:

  # The port on which the HTTP server listens for service requests.
  # Because Java cannot drop privileges in a POSIX system, these
  # ports cannot be in the range 1-1024. A port value of 0 will
  # make the OS use an arbitrary unused port.
  port: 9997

  # The port on which the HTTP server listens for administrative
  # requests. Subject to the same limitations as "port".
  adminPort: 9996

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.hello.suripu: DEBUG
  # Settings for logging to a file.
  file:
    enabled: true
    threshold: DEBUG
    currentLogFilename: /var/log/suripu-research/suripu-research.log
    # When the log file rotates, the archived log will be renamed to this and gzipped. The
    # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
    # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
    archivedLogFilenamePattern: /var/log/suripu-workers/suripu-research-%d{yyyy-MM-dd}.log.gz
    # The number of archived files to keep.
    archivedFileCount: 7
    # The timezone used to format dates. HINT: USE THE DEFAULT, UTC.
    timeZone: UTC

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data

features_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: features

kinesis_logger:
  stream_name: logs
  enabled : false
  buffer_size: 100
  origin: suripu-research

sleephmm_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: sleephmm

sleephmm_db:
  endpoint : http://dynamodb.us-east-1.amazonaws.com
  region: us-east-1
  table_name: sleephmm

ring_history_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: ring_history

# store sleep scores and other stats
# v0.2: score uses movement and duration
sleep_stats_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: prod_sleep_stats
sleep_stats_version: v_0_2

timeline_log_db:
  endpoint: http://dynamodb.us-east-1.amazonaws.com
  region: us-east-1
  table_name: timeline_log

feature_extraction_models:
#  endpoint : http://dynamodb.us-east-1.amazonaws.com
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: feature_extraction_models

online_hmm_models:
#  endpoint : http://dynamodb.us-east-1.amazonaws.com
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: online_hmm_models

calibration:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: calibration

