metrics_enabled: false
debug: true
graphite:
  host: carbon.hostedgraphite.com
  api_key: 7509c0ff-4db5-4cae-91ee-6e78ff13b336
  reporting_interval_in_seconds: 30
  include_metrics:
    - org.skife
    - xx-responses
    - com.hello

sensors_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your postgresql username

  # the password
  password: your postgresql password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/[your postgresql username]

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

common_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

insights_db:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: tim

  # the password
  password: hello ingress user

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/bingo

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

# to allow queries with clocks out of sync
# 12 * 3600s = 43200 sec -> 12h window
allowed_query_range_seconds: 43200

http:

  # The port on which the HTTP server listens for service requests.
  # Because Java cannot drop privileges in a POSIX system, these
  # ports cannot be in the range 1-1024. A port value of 0 will
  # make the OS use an arbitrary unused port.
  port: 9999

  # The port on which the HTTP server listens for administrative
  # requests. Subject to the same limitations as "port".
  adminPort: 9998

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.hello.suripu: DEBUG


event_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: event

timezone_history_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: timezone_history

alarm_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: alarm

score_threshold : 15 # minutes bucket for sleep-scores

push_notifications:
  arns:
    ios: arn:aws:sns:us-east-1:053216739513:app/APNS/hello-sense-ios-dev
    android: arn:aws:sns:us-east-1:053216739513:app/GCM/hello-sense-android-dev

  table_name: notifications


notifications_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: notifications

preferences_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: preferences

ring_time_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: ring_time

alarm_info_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: alarm_info

# remember to update version when changing score methods
sleep_score_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: sleep_score
sleep_score_version: v_0_1

features_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: features

teams_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: teams

insights_dynamo_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: insights

sense_key_store_dynamo_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: key_store

pill_key_store_dynamo_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: pill_key_store

password_reset_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: password_reset

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data
    logs : logs

question_configs:
  num_skips : 5

timeline_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: timeline

email:
   api_key: XnAIQfmDpMYIapDWGigfwA
   link_host: http://localhost:5000/password_update

ring_history_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: ring_history_by_account

sleephmm_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: sleephmm

algorithm_test_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: algorithm_test

timeline_log_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: timeline_log

# store sleep scores and other stats
# v0.2: score uses movement and duration
sleep_stats_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: sleep_stats
sleep_stats_version: v_0_2


max_cache_refresh_days: 20

smart_alarm_log_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: smart_alarm_log

ota_history_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: ota_history

resp_commands_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: response_commands

fw_path_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: fw_upgrade_path

sense_last_seen:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: sense_last_seen

feature_extraction_models:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: feature_extraction_models

online_hmm_models:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: online_hmm_models

calibration:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: calibration

wifi_info:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: wifi_info

app_stats:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: app_stats

pill_heartbeat:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: pill_heartbeat

device_data:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: sense_data

timeline_model_ensembles:
  bucket: hello-timeline-models
  key: normal4ensemble.base64

timeline_seed_model:
  bucket: hello-timeline-models
  key: normal4.base64

