debug: true

sensors_db:
  driverClass: org.postgresql.Driver
  user: [your local psql username]
  password:
  url: jdbc:postgresql://localhost:5432/[your local psql db name]
  properties:
    charSet: UTF-8

common_db:
  driverClass: org.postgresql.Driver
  user: [your local psql username]
  password:
  url: jdbc:postgresql://localhost:5432/[your local psql db name]
  properties:
    charSet: UTF-8

http:
  port: 3333
  adminPort: 3336

logging:
  level: INFO
  loggers:
    com.hello.suripu: DEBUG

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data

kinesis_logger:
  stream_name: logs
  enabled : false
  buffer_size: 100
  origin: suripu-admin

redis:
  host: localhost
  port: 6379

dynamodb:
  region: us-east-1
  tables:
      alarm_info : alarm_info
      features : features
      firmware_upgrade_path: fw_upgrade_path
      firmware_versions : firmware_versions_mapping
      ota_history : ota_history
      password_reset : password_reset
      pill_key_store : pill_key_store
      pill_last_seen: pill_last_seen
      sense_events : sense_events
      sense_key_store : key_store
      sense_last_seen : sense_last_seen
      sense_prefix : sense
      sync_response_commands : response_commands
      teams : teams
  
  endpoints:
      alarm_info : http://localhost:7777
      features : http://localhost:7777
      firmware_upgrade_path : http://localhost:7777
      firmware_versions : http://localhost:7777
      ota_history : http://localhost:7777
      password_reset : http://localhost:7777
      pill_key_store : http://localhost:7777
      pill_last_seen : http://localhost:7777
      sense_events : http://localhost:7777
      sense_key_store : http://localhost:7777
      sense_last_seen : http://localhost:7777
      sense_prefix : http://localhost:7777
      sync_response_commands : http://localhost:7777
      teams : http://localhost:7777
