debug: true

sensors_db:
  driverClass: org.postgresql.Driver
  user: [your local psql username]
  password:
  url: jdbc:postgresql://localhost:5432/[your local psql db name]
  properties:
    charSet: UTF-8

common_db:
  driverClass: org.postgresql.Driver
  user: [your local psql username]
  password:
  url: jdbc:postgresql://localhost:5432/[your local psql db name]
  properties:
    charSet: UTF-8

http:
  port: 3333
  adminPort: 3336

logging:
  level: INFO
  loggers:
    com.hello.suripu: DEBUG

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streams :
    audio_features : audio_features
    activity_stream : activity_stream
    registrations: registrations
    encode_audio : encode_audio
    batch_pill_data : batch_pill_data
    sense_sensors_data : sense_sensors_data

features_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: features

kinesis_logger:
  stream_name: logs
  enabled : false
  buffer_size: 100
  origin: suripu-admin

redis:
  host: localhost
  port: 6379

alarm_info_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: alarm_info

sense_key_store_dynamo_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: key_store

pill_key_store_dynamo_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: pill_key_store

password_reset_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: password_reset

sense_events:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: sense_events

teams_db:
    endpoint : http://localhost:7777
    region: us-east-1
    table_name: teams

firmware_versions:
  endpoint : http://dynamodb.us-east-1.amazonaws.com
  region: us-east-1
  table_name: firmware_versions_mapping