metrics_enabled : false
librato:
   username: tim@sayhello.com
   api_key: 64ab12d5c69fa2b6873b7ace11aba06f4d8c93fa9b0cd7012a0cd2ba2f9c53ac
   reporting_interval_in_seconds: 30
database:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: your postgresql username

  # the password
  password: your postgresql password

  # the JDBC URL
  url: jdbc:postgresql://localhost:5432/[your postgresql username]

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* MyService Health Check */ SELECT 1"

  # the minimum number of connections to keep open
  minSize: 8

  # the maximum number of connections to keep open
  maxSize: 32

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

  # how long a connection must be held before it can be validated
  checkConnectionHealthWhenIdleFor: 10s

  # the maximum lifetime of an idle connection
  closeConnectionIfIdleFor: 1 minute

# Logging settings.
logging:

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL.
  level: INFO

  # Logger-specific levels.
  loggers:

    # Sets the level for 'com.example.app' to DEBUG.
    com.hello.suripu: DEBUG

http:
    port: 5555
    adminPort: 5556

dynamodb:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: public_key_table

motion_db:
  endpoint : http://localhost:7777
  region: us-east-1
  table_name: tracker_motion

kinesis:
  endpoint : https://kinesis.us-east-1.amazonaws.com
  streamName : test-stream-suripu
